<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sponsorship Bot</title>
    @Styles.Render("~/Content/css")
</head>
    <body>
        <div class="container body-content">
            @RenderBody()
            @Scripts.Render("~/bundles/bootstrap")
        </div>
</body>
</html>
